<div class="body-login">
{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    
    <div class="d-flex flex-column align-items-center">
        
        <div class="mb-4">
            <img class="logo_form1" src="{% static 'img/enigmaLogoNuevo.png' %}" alt="Enigma Logo">
        </div>
        
        {% if messages %}
            <div class="w-100 d-flex justify-content-center mb-3" style="top: 120px; z-index: 1050;">
                <div class="alert alert-success text-center w-auto shadow">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        <div class="card shadow-lg" style="min-width: 400px; max-width: 500px; width: 100%;">
            <div class="card-body p-4">
                <h3 class="text-center mb-4">Iniciar sesión</h3>
                <form action="{% url 'usuarios:login' %}" method="post">
                    {% csrf_token %}
                    
                    {% if form.non_field_errors %}
                        <div class="alert alert-danger mb-3">
                            {% for error in form.non_field_errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}

                    {% for field in form %}
                        <div class="form-group mb-3">
                            {{ field.label_tag }}
                            {{ field }}
                            {% if field.errors %}
                                <div class="text-danger">
                                    {% for error in field.errors %}
                                        <small>{{ error }}</small><br>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}

                    <div class="d-grid gap-2 d-md-flex justify-content-md-between mt-3">
                        <button class="btn btn-primary btn-lg w-100" name="submit">Iniciar Sesion</button>
                    </div>
                </form>
            </div>
        </div>
        </div> 
    
</div>
{% endblock %}
</div>