{% load static %}
<nav class="navbar navbar-expand-lg shadow-sm navbar-gradient">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" href="{% url 'core:dashboard' %}">
      <!-- <img src="{ % static 'img/enigma_img.jpg' % }" alt="LOGO DE RUBIC ENIGMA" width="30" height="30" class="me-2">
      <span class="fw-bold">ENIGMA</span> -->
      <div class="card-header"><img class="logo_form" src="{% static 'img/enigmaLogoNuevo.png' %}"  alt=""></div>
    </a>


    <div class="d-flex ms-auto">
      {% if user.is_authenticated %}
        <div class="dropdown">
          <a class="btn btn-primary" href="#" role="button" id="dropdownUser" data-bs-toggle="dropdown" aria-expanded="false">
            {{ user.username }} (rol {{ user.rol }})
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownUser">
            <li>
              <form action="{% url 'usuarios:logout' %}" method="post" class="d-inline">
                {% csrf_token %}
                <button type="submit" class="dropdown-item">Cerrar sesión</button>
              </form>
            </li>
          </ul>
        </div>
      {% else %}
        <a href="{% url 'usuarios:register' %}" class="btn btn-outline-primary me-2">Registrarse</a>
        <a href="{% url 'usuarios:login' %}" class="btn btn-outline-success">Login</a>
      {% endif %}
    </div>
  </div>
</nav>
